<div class="jumbotron">
    <h1>SIGNIN</h1>
    <form #regForm="ngForm" (ngSubmit)="login(regForm.value)">
        <div  class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user" [(ngModel)]="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="pass" [(ngModel)]="password">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

       {{regForm.value | json}} 
</div>