<div class="jumbotron">
    <h1>REGISTER</h1>
    <form #regForm="ngForm" (ngSubmit)="register(regForm.value)">
        <div  class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email_id" [(ngModel)]="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="pass">
        </div>

        <div class="form-group">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel1" name="role" [(ngModel)]="rol">
            <option value="PUBLISHER">PUBLISHER</option>
            <option value="SUBSCRIBER">SUBSCRIBER</option>
           </select>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

       {{regForm.value | json}} 
</div>